@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');

body{
  font-family:"IBM Plex Sans,Helvetica,Arial,serif";
  background: #F2F4F4;
  font-weight: 400;
  line-height: 1.4;
  color: #727E8C;
}

p{
  font-family:'IBM Plex Sans',Helvetica,Arial,serif;
}

h1{
  font-family: "Rubik,Helvetica,Arial,serif";
}

.sidebar{
  width: 300px;
  max-width: 300px;
  height: 100vh;
  border-right: 1px solid #DFE3E7;
  position: fixed;
}